* {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
}
.body{
    height: 100%;
}
button{
    font-size: 10pt;
}
.button {
    display:inline-block;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
#changeScale{
    width: 50px;
}
.chart .left {
    stroke: white;
}
.chart .right {
    stroke: white;
}
.chart rect:hover {
    fill: #64707d;
}
.chart text {
    fill: #24da82;
}
.chart text.name {
    fill: black;
}
.chart text.title {
    fill: #2216ff;
}
#compare {
    display:inline-block;
    font-size: 16pt;
    font-weight: bold;
    color: white;
    padding-left: 5px;
    padding-right: 5px;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
.d{
    background: white;
}
.data{
    height: calc(100% - 50px);
    width: 100%;
}
.DateDiv{
    width: 98px;
    height: 90%;
    float:left;
    overflow-y: scroll;
    overflow-x: hidden;
    min-height: 1px;
}
.deathsBar{
    fill: white;
    opacity: 1;
}
.header{
    background-color: black;
    height: 30px;
    text-align: center;
    width: 100%;
}
.headerElement{
    display:inline-block;
    text-align: left;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
.html{
    width: 100%;
    height: 100%;
}
.i{
    background: #481380;
}
.infectionsBar{
    fill: #481380;
    opacity: 1;
}
.key-dot{
    display: inline-block;
    height: 10px;
    margin-right: .5em;
    width: 10px;
}
#label{
    float: left;
}
.LeftMirrorDiv{
    background-color: lightgray;
    width: calc(50% - 50px);
    float:left;
    overflow-y: hidden;
    overflow-x: hidden;
    min-height: 1px;
    height: calc(100% - 50px);
    border-right: 1px solid black;
}
.LeftScale{
    width: calc(50% - 50px);
    height: 50px;
    float: right;
    overflow-x: scroll;
    overflow-y: hidden;
    border-right: 1px;
}
#legend{
    overflow: hidden;
}
.legend{
    display: inline-block;
    margin-right: 2%;
}
.legendHub{
    background-color: lightgray;
    text-align: center;
    width: 100%; 
    height: 19px;
    border-bottom: 1px solid black;
}
.name{
    margin: 0 !important;
}
.recoveredBar{
    fill: #7F78D2;
    opacity: 1;
}
.r{
    background: #7F78D2;
}
.RightMirrorDiv{
    background-color: lightgray;
    width: calc(50% - 50px);
    float:left;
    overflow-y: hidden;
    overflow-x: hidden;
    height: calc(100% - 50px);
    border-left: 1px solid black;
}
.RightScale{
    width: calc(50% - 50px);
    height: 50px;
    float: right;
    overflow-x: scroll;
    overflow-y: hidden
}