.chart {
    margin: 10px;
    padding-top: 10px;
}

.chart .right {
    stroke: white;
    fill: indianred;
}

.chart .left {
    stroke: white;
    fill: steelblue;
}

.chart rect:hover {
    fill: #64707d;
}

.chart text {
    fill: #24da82;
}

.chart text.name {
    fill: black;
}

.chart text.title {
    fill: #2216ff;
}


.html{
    width: 98%;
    height: 100%;
    margin-left: 1%;
    margin-right:1%;
}
.CountryDiv{
    width: 20%;
    height: 100%;
    float:left;
    overflow-y: hidden;
    overflow-x: hidden;
}
.LeftMirrorDiv{
    width: 40%;
    float:left;
    overflow-y: hidden;
    overflow-x: scroll;
}
.InsideCountry{
    min-height: 1px;   
}
.InsideMirror{
    width: 2500px;
    min-height: 1px;
}
.RightMirrorDiv{
    width: 40%;
    float:left;
    overflow-y: hidden;
    overflow-x: hidden;
}
.button {
    display:inline-block;
}